<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

  </configSections>

  <appSettings>
    <!-- 数据存储提供程序 -->
    <add key="StoreProvider" value="Movi.MongoRepository"/>

    <!-- 数据采集提供程序 -->
    <add key="GrabProvider" value="Movi.DataImax"/>

    <!-- DES密钥 -->
    <add key="EncryptKey" value="km!@#$%^"/>
  </appSettings>
  <connectionStrings>
    <add name="MoviConnection" connectionString="mongodb://kangming:yqhkangming@127.0.0.1:27627/movi" />
  </connectionStrings>

</configuration>