
/*--------------start:顶部提示--------------*/

.cus-top-hint {
    font-size: 14px;
    margin: 5px;
}

.cus-top-hint .cus-top-hint-total {
    color: #97310e;
    font-size: 24px;
}

/*--------------end:顶部提示--------------*/

/*--------------start:顶部查询--------------*/

.cus-search-bar {
    margin-bottom: 10px;
}

/*--------------end:顶部查询---------------*/

/*--------------start:顶部筛选--------------*/

.cus-filter {
    display: block;
    list-style: none;
    margin-bottom: 0;
}

.cus-filter li {
    display: block;
    float: left;
    margin-right: 10px;
}

.cus-filter-category {
    color: #666;
}

.cus-filter-active a {
    color: #97310e;
}

/*--------------end :顶部筛选---------------*/

/*--------------start :顶部排序-------------*/

.cus-sorter-bar {
    margin: 5px auto;
}

.cus-sort-wrap span,
.cus-sort-wrap a {
    display: inline-block;
    margin-right: 5px;
    color: #3a87ad;
}

.cus-sort-wrap a.active {
    color: #97310e;
    font-weight: bold;
}

/*--------------end :顶部排序---------------*/





