<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  
  <!-- 数据存储提供程序 -->
  <!--<add key="StoreProvider" value="Movi.EFRepository"/>-->

  <add key="StoreProvider" value="Movi.EFRepository"/>

  <!-- 是否开启路由调试 -->
  <add key="RouteDebugger:Enabled" value="false" />

  <!-- 服务默认超时时间 -->
  <add key="DefaultTimeout" value="5000"/>

  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  
</appSettings>
