<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>

    <!-- 
      以下两节配置与性能记数相关
      配置有interceptors子节的component会进行性能记数统计
      其中，Movi.Extension.StatisticsServices 未实现，可以考虑使用Redis
    -->

    <component id="Movi.Extension.PerformanceInterceptor"
          service="Castle.DynamicProxy.IInterceptor, Castle.Core"
          type="Movi.Extension.PerformanceInterceptor, Movi.Extension">
      <parameters>
        <StatisticsServices>${Movi.Extension.IStatisticsServices}</StatisticsServices>
      </parameters>
    </component>

    <component id="Movi.Extension.IStatisticsServices"
          service="Movi.Extension.IStatisticsServices, Movi.Extension"
          type="Movi.Extension.StatisticsServices, Movi.Extension" lifestyle="singleton">
      <parameters>
        <ApplicationName>Movi</ApplicationName>
      </parameters>
    </component>
    
    <!--Data Service-->

    <component
      id="MediaService"
      type="Movi.Service.MediaService, Movi.Service"
      service="Movi.IService.IMediaService, Movi.IService">
      <interceptors>
        <interceptor>${Movi.Extension.PerformanceInterceptor}</interceptor>
      </interceptors>
    </component>

    <component
      id="UserService"
      type="Movi.Service.UserService, Movi.Service"
      service="Movi.IService.IUserService, Movi.IService">
    </component>
    
    <component
      id="VisitorService"
      type="Movi.Service.VisitorService, Movi.Service"
      service="Movi.IService.IVisitorService, Movi.IService">
    </component>
    
    <component 
      id="SiteConfigService" 
      type="Movi.Service.SiteConfigService, Movi.Service" 
      service="Movi.IService.ISiteConfigService, Movi.IService">
    </component>

    <!--Data GrabService-->
    
    <component
      id="MovieGrabService"
      type="Movi.ImaxGrabService.MovieGrabService, Movi.ImaxGrabService"
      service="Movi.IGrabService.IMovieGrabService, Movi.IGrabService">
    </component>

    <component
      id="TeleplayGrabService"
      type="Movi.ImaxGrabService.TeleplayGrabService, Movi.ImaxGrabService"
      service="Movi.IGrabService.ITeleplayGrabService, Movi.IGrabService">
    </component>

    <component
      id="CartoonGrabService"
      type="Movi.ImaxGrabService.CartoonGrabService, Movi.ImaxGrabService"
      service="Movi.IGrabService.ICartoonGrabService, Movi.IGrabService">
    </component>
    
  </components>
</castle>