<?xml version="1.0" encoding="utf-8"?>
<RouteConfiguration>
  <ignore>
    <add url="{resource}.axd/{*pathInfo}" >
      <constraints>
        <add name="resource" value="" />
      </constraints>
    </add>
    <add url="crossdomain.xml"></add>
  </ignore>
  <map>
    <route name="Default" url="{controller}/{action}/" controller="Media" action="Index">
      <parameters>
        <add name="controller" value="Media" constraint="^[a-zA-Z0-9]{1,20}$" />
        <add name="action" value="Index" constraint="^[a-zA-Z0-9]{1,20}$" />
        <add name="type" value="Movie" constraint="" />
      </parameters>
    </route>

    <route name="MediaDetail" url="media/{id}" controller="Media" action="Detail">
      <parameters>
        <!--Guid.NewGuid().ToString("N")-->
        <add name="id" value="" constraint="^[a-zA-Z0-9-]{32}$" />
      </parameters>
    </route>




    <!-- 以下配置管理相关路由 -->
    
    <route name="Admin_MediaEdit" url="admin/media/{id}" controller="Media" action="Edit">
      <parameters>
        <!--Guid.NewGuid().ToString("N")-->
        <add name="id" value="" constraint="^[a-zA-Z0-9-]{32}$" />
      </parameters>
    </route>
  </map>
</RouteConfiguration>