<?xml version="1.0"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteName>派普影视</SiteName>
  <SiteLogo>/Content/Images/logo.png</SiteLogo>
  <SiteUrl />
  <SitePhone>13540312451</SitePhone>
  <SiteEmail>departyment@outlook.com</SiteEmail>
  <SiteCrod />
  <SiteTitle>{0} 派普影视 - 阅尽天下影片,心中自然无码</SiteTitle>
  <SiteKeywords>派普电影,电影下载,电视剧下载,最新电影,高清电影,{0}高清下载,{0}高清种子,{0}在线观看</SiteKeywords>
  <SiteDescr>阅尽天下影片,心中自然无码。最新影视{0}全集迅雷下载在线观看,免费为广大用户提供影视{0}迅雷高清下载。</SiteDescr>
  <SiteCopyRight>© departyment@outlook.com</SiteCopyRight>
  <SiteStatus>false</SiteStatus>
  <SiteCountCode />
  <EmailSmtp />
  <EmailPort>25</EmailPort>
  <EmailFrom />
  <EmailUserName />
  <EmailPassword />
  <VisitStatDays>7</VisitStatDays>
  <EmailNickName>piep</EmailNickName>
  <AvatarFilePath>/Upload/Avatars/</AvatarFilePath>
  <AvatarHeight>100</AvatarHeight>
  <AvatarWidth>100</AvatarWidth>
  <DefaultAvatar>/Upload/Avatars/avatar.jpg</DefaultAvatar>
  <MediaFilePath>/Upload/Medias/</MediaFilePath>
  <ImgExtensions>*.jpg,*.gif,*.bmp,*.png</ImgExtensions>
  <ImgUploadSize>200</ImgUploadSize>
  <ThumbHeight>160</ThumbHeight>
  <ThumbWidth>240</ThumbWidth>
  <ShowPageSize>20</ShowPageSize>
  <EncryptString>kangming!@#$%</EncryptString>
</SiteConfig>