/*===============================================
  Animate Index
================================================= */
body.index-load {
  background-color: #FDC162;
  overflow: hidden; }

body.index-load .navbar {
  z-index: 9999; }

body.index-load #main {
  overflow: hidden; }

body.index-load .navbar, body.index-load #main {
  display: none; }

body.index-load #sidebar.refresh {
  background: #FFF; }

body.index-load #content.refresh {
  background-color: #e8e8e8;
  -webkit-box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.33) inset;
  box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.33) inset; }

body.index-load #page-loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FDC162;
  z-index: 9998;
  text-align: center; }

body.index-load #page-loader span {
  position: relative;
  color: rgba(0, 0, 0, 0.1);
  height: auto;
  width: auto;
  top: 35%;
  font-size: 13em; }

body.index-load .sparkline-delay {
  display: none; }

/*===============================================
  Login And Lock
================================================= */

body.loginck-page {
    padding-top: 100px;
    background: #f2f2f2 url(/Content/Admins/img/8.png) repeat;
}
body.loginck-page #page-logo {
  width: 250px;
  margin: 50px auto 80px; }

body.loginck-page .panel {
  width: 500px;
  margin: 0 auto;
  position: relative; }

body.loginck-page .login-info {
  margin: 20px 0;
  font-size: 13px; }

body.loginck-page .login-info .login-name b {
  font-size: 14px; }

body.loginck-page .login-info .login-email {
  padding-top: 8px;
  font-size: 12px;
  color: #AAA; }

body.loginck-page .login-avatar {
  padding: 6px 20px 25px 10px;
  margin-right: 20px;
  border-right: 1px dashed #DDD;
  float: left; }

body.loginck-page .login-avatar img {
  display: block;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid #DDD; }

body.loginck-page .login-alert {
  padding-top: 15px;
  margin: 5px 0;
  border-top: 1px dashed #DDD;
  clear: both; }

body.loginck-page .login-alert .alert {
  font-size: 13px;
  padding: 7px 13px;
  margin-bottom: 0; }

/*===============================================
  Media List
================================================= */
a.cus-media-list {
    box-shadow: 0px 0px 3px #aaa; 
    width: 150px; 
    height: 180px; 
    position: relative; 
    display: inline-block;
    overflow: hidden;
    margin-bottom: 20px;
}
a.cus-media-list.checked {
    box-shadow: 0px 0px 5px #111;
    opacity: 0.5;
}

a.cus-media-list > img {
    width:150px;
}
a.cus-media-list > span {
    padding: 5px; 
    display: block; 
    width: 150px; 
    min-height: 50px; 
    background-color: #d43f3a; 
    color: #fff;
    position: absolute;
    bottom: 0; 
    left: 0;
    opacity: 0.8;
}
a.cus-media-list .checker {
    position: absolute; 
    top: 2px; 
    right:2px;
    margin: 0px;
}

/*===============================================
  Media Detail Cover
================================================= */
 .cus-media-edit-cover {
     padding:5px; 
     width:242px; 
     height:242px; 
     border:1px solid #eee;
 }
 .cus-media-edit-cover > img {
     width:230px;
     height:230px;
 }

 /*===============================================
  Sparkline Chart
================================================= */
 .chart-btn {
  padding-top: 8px; }

.chart-btn .chart-icon {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  margin-bottom: 10px; }

.chart-btn .chart-text {
  display: inline-block;
    margin-left: 10px;
  vertical-align: top; }

.chart-btn .chart-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #555; }

.chart-btn .chart-subtitle {
  font-size: 15px;
  color: #888;
  text-align: left; }






/*===============================================
  I. Validation.html
================================================= */
body.validation-page label.error {
  font-weight: 600;
  color: #d9534f;
  font-size: 12px;
  margin: 6px 0 0 2px; }

/*===============================================
  J. Upload-tools.html
================================================= */
body.upload-tools-page #fileupload .progress {
  margin-bottom: 0;
  width: 100%;
  min-width: 75px; }

body.upload-tools-page #fileupload table td {
  vertical-align: middle; }

/* Keeps preview image from becoming to large */
body.upload-tools-page #fileupload table td .preview canvas {
  max-height: 60px; }

/* Aligns action buttons to right */
body.upload-tools-page #fileupload table td:last-child {
  text-align: right; }

/*===============================================
  K. Index.html
================================================= */
.console-btn {
  text-shadow: 0 1px #ffffff;
  border-color: #cccccc rgba(0, 0, 0, 0.19) rgba(0, 0, 0, 0.18);
  background-color: #f0f0f0;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff',endColorstr='#00ffffff',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  padding: 10px 10px 10px 15px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  border-radius: 3px;
  text-shadow: 0 1px #fff;
  border: 1px solid #d2d2d2; }

.console-btn:hover .console-icon {
  color: #d9534f; }

.console-btn .console-icon {
  height: 40px;
  display: inline-block;
  vertical-align: top;
  font-size: 30px; }

.console-btn .console-text {
  display: inline-block;
  padding-top: 3px; }

.console-btn .console-title {
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  color: #555; }

.console-btn .console-subtitle {
  font-size: 12px;
  color: #888; }

.console-filter {
  float: right;
  width: 77%;
  padding-top: 4px;
  margin-right: 5%; }

/* Dividers for console icons - Options: Left, right, Bottom */
.console-btn .console-icon.divider-right {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #DDD;
  position: relative; }

.console-btn .console-icon.divider-right:after {
  content: "";
  margin-right: -2px;
  border-right: 1px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%; }

.console-btn .console-icon.divider-left {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #DDD; }

.console-btn .console-icon.divider-bottom {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #DDD; }

/* Console Button Alt Style - Block Icon, best used without divider */
.console-btn.console-block .console-icon {
  display: block;
  height: auto; }

.console-btn.console-block .console-text {
  display: block;
  padding: 0; }

/* Console Button Alt Style - No BG */
.console-btn.console-alt {
  border: 0;
  background: none;
  box-shadow: none;
  padding: 5px 8px; }

.console-btn.console-alt .console-icon {
  font-size: 20px; }

.console-btn.console-alt .console-text {
  padding: 0; }

.console-btn.console-alt .console-title {
  font-size: 14px; }

.console-btn.console-alt .console-badge .badge {
  position: absolute;
  top: -5px;
  right: 20px;
  text-shadow: none; }


/* MESSAGE WIDGET */
body.dashboard .message-widget {
  margin-top: 20px; }

/*===============================================
  L. Sketchpad.html
================================================= */
body.sketchpad-page .wPaint-menu-holder {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45); }

body.sketchpad-page .chat-panel .media-img img {
  max-width: 50px;
  margin-right: 6px; }

body.sketchpad-page .chat-panel .media-content {
  padding: 6px 12px; }

body.sketchpad-page .chat-panel .media-timestamp {
  margin-bottom: 5px; }

/*===============================================
  M. Messages.html
================================================= */
body.messages-page .panel-menu {
  padding: 10px 20px; }

body.messages-page .panel-menu button {
  margin-right: 8px; }

body.messages-page .panel-menu button:last-child {
  margin-right: 0px; }

body.messages-page .messenger-header-actions .search-bar {
  max-width: 150px;
  position: relative;
  top: 2px;
  margin-right: 4px; }

body.messages-page .email-menu .table tbody > tr > td {
  padding: 10px 8px;
  border-top: 1px dashed #c9c9c9;
  vertical-align: middle; }

body.messages-page .email-menu .table tbody > tr:first-child > td {
  border-top: 0; }

body.messages-page .email-menu .table-striped > tbody > tr:nth-child(even) > td {
  background: #f8f8f8; }

body.messages-page .email-menu .table-striped > tbody > tr:nth-child(odd) > td {
  background: white; }

body.messages-page .email-menu-avatar {
  width: 15%; }

body.messages-page .email-menu-avatar img {
  min-width: 50px;
  max-width: 50px; }

body.messages-page .email-menu-message {
  color: #555;
  font-size: 13px;
  line-height: 17px; }

body.messages-page .email-menu-date {
  font-size: 11px;
  text-align: right; }

body.messages-page .email-date {
  color: #888;
  font-size: 11px; }

body.messages-page .email-message {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dashed #c9c9c9; }

body.messages-page .email-message p {
  font-size: 15px; }

body.messages-page .email-avatar {
  max-width: 70px;
  margin-top: 12px;
  margin-right: 20px;
  border: 2px solid #CCC; }

/*===============================================
  N. Timeline.html
================================================= */
body.timeline-page #main {
  min-height: 1400px; }

#timeline {
  position: relative; }

/* Timeline Spine */
#timeline:after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 8px;
  height: 100%;
  content: "";
  background: #ddd;
  -webkit-box-shadow: 1px 0 1px #AAA inset,-1px 0 1px #f5f5f5 inset;
  box-shadow: 1px 0 1px #AAA inset,-1px 0 1px #f5f5f5 inset; }

/* Timeline Date Button/Label */
.timeline-divider {
  position: relative;
  margin: 10px 0 45px;
  z-index: 3; }

.timeline-divider .divider-label {
  text-shadow: 0 1px #ffffff;
  border-color: #cccccc rgba(0, 0, 0, 0.19) rgba(0, 0, 0, 0.18);
  background-color: #f0f0f0;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff',endColorstr='#00ffffff',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  min-width: 100px;
  width: 10%;
  margin: 0 auto;
  padding: 5px 5px;
  text-align: center;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

/* Timeline Content Panels */
#timeline .panel {
  position: relative;
  cursor: move;
  z-index: 11;
  overflow: visible; }

/* Timeline Spine Circle */
#timeline > .row .panel:before {
  position: absolute;
  top: 16px;
  right: -64px;
  width: 26px;
  height: 26px;
  content: "";
  z-index: 3;
  border-radius: 50%;
  background: #d2d2d2;
  -webkit-box-shadow: 1px 0 1px #999 inset,-1px 0 1px #ffffff inset;
  box-shadow: 1px 0 1px #999 inset,-1px 0 1px #ffffff inset; }

#timeline > .row .panel:after {
  text-shadow: 0 1px #ffffff;
  border-color: #cccccc rgba(0, 0, 0, 0.19) rgba(0, 0, 0, 0.18);
  background-color: #f0f0f0;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff',endColorstr='#00ffffff',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  position: absolute;
  top: 22px;
  right: -57px;
  width: 14px;
  height: 14px;
  content: "";
  z-index: 4;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

#timeline > .row > .right-column .panel:before {
  top: 14px;
  left: -57px; }

#timeline > .row > .right-column .panel:after {
  top: 20px;
  left: -52px; }

#timeline > .row > .right-column .panel .panel-heading:before {
  left: -23px; }

#timeline > .row > .right-column .panel .panel-heading:after {
  left: -19px; }

#timeline > .row > .left-column .panel.dragging:before,
#timeline > .row > .left-column .panel.dragging:after,
#timeline > .row > .right-column .panel.dragging:before,
#timeline > .row > .right-column .panel.dragging:after {
  display: none; }

/* Timeline Panel Positioning */
#timeline > .row > .left-column .panel {
  margin-right: 32px; }

#timeline > .row > .right-column .panel {
  margin-left: 32px; }

#timeline > .row > .right-column {
  margin-top: 60px; }

#timeline .ui-sortable-disabled .panel {
  cursor: auto; }

/* Timeline Responsive Styles */
@media (max-width: 770px) {
  #timeline > .row > .left-column .panel {
    margin-right: 0; }

  #timeline > .row > .right-column .panel {
    margin-left: 0; }

  #timeline > .row .panel:before {
    display: none; }

  #timeline > .row .panel:after {
    display: none; } }
#timeline .tab-content {
  min-height: 0; }

/* form creation styles */
#timeline .map {
  width: 100%;
  height: 300px;
  border: 1px solid #AAA; }

#timeline-image-form .fileupload-preview {
  text-align: center; }

#timeline-image-form .fileupload-preview img {
  max-height: 200px; }

#timeline div.checker input {
  vertical-align: top; }

/* JQuery sortable placeholder */
#timeline .ui-sortable {
  min-height: 150px;
  min-width: 300px; }

#timeline .ui-sortable-placeholder {
  visibility: visible !important;
  margin-bottom: 35px;
  background: #DDD;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px #BBB inset, 1px 1px 0px #fff;
  box-shadow: 0 1px 3px #BBB inset, 1px 1px 0px #fff; }

#timeline .ui-sortable-placeholder * {
  visibility: hidden; }

/*===============================================
  O. "Minimal" Pages
 ------------------------------------------------
  * Pages classified as "minimal" are those
  * which do not have sidebar or header. 
  * This simply adjusts the background.
================================================= */
body.minimal {
  background: #f4f4f4; }
