<!DOCTYPE html>
<html>
<head>
    <title>网页提示</title>
    <style type="text/css">
        *
        {
            margin: 0;
            padding: 0;
        }
        #container
        {
            width: 100%;
            position: relative;
            text-align: center;
        }
        #container div.number
        {
            width: 300px;
            position: absolute;
            left: 50%;
            margin-top: 20%;
            margin-left: -150px;
            display: block;
            letter-spacing: -10px;
            line-height: 130px;
            font-size: 158px;
            font-weight: 300;
            color: #ec8c8c;
        }
    </style>
</head>
<body>
    <div id="container">
        <div class="number">
            500
        </div>
    </div>
</body>
</html>
